@font-face {
	font-family: myfont;
	src: url("PIXleft_5.ttf");
	}
@font-face {
	font-family: myfont2;
	src: url("Minecraftia-Regular.ttf");
	}

body,h1{
	font-family: 'myfont';
	margin: 0px;
}
img {
  height:55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .container {


}
.centered {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.bottom-center{
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

