@font-face {
	font-family: myfont;
	src: url("PIXleft_5.ttf");
	}
@font-face {
	font-family: myfont2;
	src: url("Minecraftia-Regular.ttf");
	}

body,h1{
	font-family: 'myfont';
	margin: 0px;
}
img {
  height:55%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .container {


}
.centered {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.bottom1-center{
  position: absolute;
  top: 65%;
  left:51%;
  transform: translate(-50%);
  color: black;
}
.bottom2-center{
  position: absolute;
  top: 69%;
  left: 51%;
  transform: translate(-50%);
  color: black;
}

