@font-face {
	font-family: myfont;
	src: url("PIXleft_5.ttf");
	}
body,h1,h2,h4,h5{
	font-family: 'myfont';
	margin: 0px;
}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
img {
	height: 90%;
	width: 90%;
	border: 1px;
	padding: 0px;
}

div.relative {
  position: relative;
  width: 200px;
  height: 900px;
}

div.absolute {
  position: absolute;
  top: 88%;
  right: 50%;
  width: 200px;
  height: 100px;
}
.bgimg {background-image: url("/w3images/wedding_couple.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}

text{
  stroke-width: 0.09;
  stroke: white;
  fill: white;
}
.node {
  color: white;
  stroke-width: 1.0px;
  fill: white;
}


.link {
  stroke: #555;
  stroke-width: 1.0px;
}

.node text {
  font: 13px ;

}
